@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <h3>Search the weather by city.</h3>

    <a href="/ForecastApp/SearchCity" class="btn btn-info" role="button">Search City</a>
    <br>


    @*<img class="img-fluid" src="/Images/tree-g073153d84_1920.jpg"  />*@
   
    <div pad="10%">
         <img src="/Images/tree-g073153d84_1920.jpg" class="img-fluid" />
     </div>

    
</div>
