@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <h3>Search the weather by city.</h3>

    
    <a href="https://localhost:44343/ForecastApp/SearchCity" class="btn btn-info" role="button">Search City</a>
</div>
